body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 15%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.content {
    width: 85%;
    overflow-y: auto;
}
.content1{
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.function-list {
    list-style-type: none;
    color: black;
    text-decoration: none;
    padding: 0;
}
.function-list li {
    margin: 15px 0;
}
.function-list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.function-list li a:hover {
    text-decoration: underline;
    background-color: white;
    color: black;
}

h1, h2 {
    margin-top: 0;
}
.logo{
    margin: 10px;
}
.thongtincanhan{
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: right;
    box-shadow: 0px 4px 8px #cccccc;
    color: black;
    font-size: 15px;
    font-style: italic;
}
.boloc{
    display: flex;
    justify-content: space-between;
}
.boloc div{
    padding: 20px;
}
.boloc1{

}

.locdanhsach{
    box-shadow: 0px 4px 8px #cccccc;
}
.formtable0{
    box-shadow: 0px 4px 8px #cccccc;
    margin-top: 50px;
}
.formtable{
    display: flex;
    padding: 20px;

}
.formtable1{
    justify-content: right;
}
.modal-sm {
    max-width: 300px;
}


.modal-body {
    text-align: center;
}

.btn-close {
    background: none;
    border: none;
}
.headofficestaff{
    box-shadow: 0px 4px 8px #cccccc;
    padding: 10px;
    margin-top: 100px;
}
.headofficestaff div div{
    padding-left:20px;
}